p {
  font-family: Lato;
  margin-top: 10px;
}

.container{
  margin: 30px auto;
}

img {
  margin-right: 15px;
  width:15%;
  height: 10px;
}

#imgmain {
  width: 30%;
}

h2 {
  font-family: Lato;
  font-weight: 600;
  color: rgb(60, 61, 63);
}
a {
  text-decoration: none !important;
}
#description{
  font-size: 1.2rem;
}
h4{
  font-family: Lato;
  font-weight: 600;
}
.commentbook{
  margin-top: 0px;
}
hr{
  width: 7.5rem;
  margin-left: 0px;
  margin-top: .5rem !important;
}
.commentsname{
  font-family: Lato;
  font-size: 0.95rem;
  font-weight: 600;
}
textarea{
  width: 75% !important;
}
button{
  margin-top: 12px !important;
  margin-right: 5px !important;
}
input{
  width: 30% !important;
  margin-top: 2px !important;
}
.hrcls{
  width: 10rem;
  margin-left: 0px;
  margin-top: 10px;
}